<div id="categories-wrapper">
	<div class="header">
		<div class="header-title cursor-default">categories</div>
		<div class="header-divider"></div>
		<div class="header-input-container">
			<div class="search-sign"><i class="fa fa-search" aria-hidden="true"></i></div>
			<input type="text" placeholder="type to search category" ng-model="search.name" type-everywhere>
		</div>
		<div class="header-divider"></div>
		<div class="header-another">
			<div class="header-button">
				<div class="button-like cursor-pointer" ng-click="newUser()"><i class="fa fa-plus" aria-hidden="true"></i> New Category</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="card cursor-default" ng-repeat="o in data | filter:search">
			<div class="card-header">category</div>
			<div class="card-content"><span>{{ o.name }}</span></div>
			<div class="card-footer" ng-style="{color: o.color}">{{ o.color }}</div>
			<div class="buttons-wrapper">
				<i class="fa fa-pencil cursor-pointer" ng-click="" tooltips tooltip-template="edit category"></i>
				<i class="fa fa-times cursor-pointer" ng-click="delete(o.id, o.name)" tooltips tooltip-template="delete category"></i>
			</div>
		</div>
	</div>
</div>
