<div id="categories-wrapper">
	<div class="header">
		<div class="header-title cursor-default">upload page</div>
		<div class="header-divider"></div>
		<div class="header-input-container">
			
		</div>
		<div class="header-divider"></div>
		<div class="header-another">
			<div class="header-button">
				<div class="button-like cursor-pointer" ng-click="down()"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download Template</div>
			</div>
		</div>
	</div>
	<div class="content">

	</div>
</div>
