<!doctype html>
<html lang="en" class="">
    <head>
        <title>Corruption Prevention Dashboard - Pulselab Jakarta</title>

        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <meta name="description" content=">National Dashboard - Pulselab Jakarta" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />

        <link rel="icon" type="image/x-icon" href="pulselab.ico">
        <link rel="shortcut icon" type="image/x-icon" href="pulselab.ico">
    </head>
    <body class="">
        <div id="root">
			hello world!
		</div>
    </body>
</html>
