@import "global";

@import "categories";
@import "report";
@import "upload";
@import "users";

#base-wrapper {
	width: 100%; height: 100%; background: white;
	#sidebar {
		position: relative; height: 100%; width: $sidebar-width; background: $default-back; display: inline-block; float: left; position: relative; z-index: 28; @include box-shadow(4px 0px $sidebar-shadow);
		#sidebar-logo {
			position: relative; width: calc(#{$sidebar-width} - 15px); height: calc(#{$sidebar-width} - 15px); padding: 7.5px;
		}
		#sidebar-menu {
			width: 100%; background: $default-back; height: calc(100% - (#{$sidebar-width} * (5 / 3)));
			#sidebar-menu-wrapper {
				width: 100%; padding: 15px 0px; color: $menu-clr; @include clearfix();
				.sidebar-menu-container {
					width: 100%; padding: 5px 0px;
					.sidebar-menu-content {
						width: $menu-size; height: $menu-size; line-height: $menu-size; margin: auto; background: $sidebar-clr; border-radius: 5px; z-index: 82; position:relative;
						text-transform: lowercase; font: $signika;
						& > i {
							font-size: 17px; margin-left: $icon-margin; position: relative; top: 2px;
							&.fa-files-o {  }
							&.fa-tags {  }
							&.fa-cloud-upload {  }
							&.fa-users {  }
						}
						& > span { display: none; font-size: 12px; }

						&.active { color: white; background: $menu-act-clr!important; }
					}

					&:hover {
						width: $menu-inflated;
						.sidebar-menu-content {
							color: white; @include box-shadow(5px 5px $sidebar-shadow); background-color: $menu-hvr-clr; width: calc(#{$menu-inflated} - (#{$sidebar-width} - #{$menu-size}));
							& > i { margin-right: 15px; margin-left: calc(#{$icon-margin} + 10px); }
							& > span { display: inline-block; }
						}
					}
				}
			}
		}
		#sidebar-opts {
			position: absolute; width: calc(#{$sidebar-width} - 15px); height: calc(#{$sidebar-width} * (2 / 3) - 15px); padding: 7.5px; bottom: 0px; left: 0px;
			#button-wrapper { width: 100%; height: 80%; color: white; text-align: center; padding: 10% 0px; i { font-size: 20px; } tooltip { margin: 0px 5%; } }
		}
	}
	#base-content {
		position: relative; height: 100%; width: calc(100% - #{$sidebar-width}); display: inline-block; float: right;
	}
}
