<form id="profile-wrapper" ng-submit="closeThisDialog(data)">
	<div id="adminmodal-header" class="modal-header cursor-default">
		change password
	</div>
	<div id="profile-content" class="modal-content">
		<div id="password-group" class="input-group">
			<input type="password" ng-model="data.password" />
			<span class="highlight"></span>
			<span class="bar"></span>
			<label>New Password</label>
		</div>
	</div>
	<div id="user-buttons" class="buttons-wrapper two-buttons">
		<button type="submit" class="confirm-button cursor-pointer"><i class="fa fa-check" aria-hidden="true"></i> Change Password</button>
		<button type="button" class="cancel-button cursor-pointer" ng-click="closeThisDialog()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
	</div>
</form>
